.star-rating {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}


.star,
.star-half,
.star-empty {
  color: #ffea06;
  font-size: 24px;
}


@media only screen and (max-width: 768px) {
  .star-rating {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .star,
  .star-half,
  .star-empty {
    font-size: 18px;
  }
}